Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
Werkzeug==0.9.6
argparse==1.2.1
docutils==0.12
gunicorn==19.0.0
itsdangerous==0.24
psycopg2==2.4.6
storm==0.20
wsgiref==0.1.2
PyYAML
-e git+git://github.com/brendonh/schemup.git#egg=schemup
pytz
