#!/bin/sh                                                                                                                                                                            

DB_HOST=127.0.0.1
DB_NAME=gtokendb
DB_USER=gtokendb
DB_PASS=gtokendb

export PGDATABASE=$DB_NAME
export PGHOST=$DB_HOST
export PGUSER=$DB_USER
export PGPASSWORD=$DB_PASS
